
#sidebar-wrapper {
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  background-color: #343a40;
  color: #fff;
  transition: all 0.3s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  width: 8px;
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
  background-color: #6c757d;
}

#sidebar-wrapper::-webkit-scrollbar-track {
  background-color: #343a40;
}

.sidebar-heading {
  padding: 20px 0;
  text-align: center;
}

.list-group-item {
  border: none;
  background-color: transparent;
  color: #fff;
}

.list-group-item:hover {
  background-color: #495057;
}

#page-content-wrapper {
  max-width: 100%;
  min-width: none;
  margin-left: 250px;
  transition: all 0.3s ease;
  overflow: auto;
}

#cart-img{
  height: 35px;
}

.product-card {
  margin-bottom: 30px;
}

#shop-logo {
  width: 170px;
}

#navbarNav {
  height: 70px;
}

.modern-list-item:hover {
  background: #343a40;
  color: #f8f9fa;
}

#wrapper {
  height: 100vh;
}

.card {
  max-width: 100%;
  min-width: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

.card-img-top {
  width: 300px;
  height: 300px;

}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-body > .card-title,
.card-body > .card-text {
  margin-bottom: 1rem;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  margin-top: auto;
}
